@media only screen and (max-width: 500px) {
    #wallet-applet {
        position: fixed;
        z-index: 999;
        background: #123;
        padding: 10px;
        left: -80%;
        width: 80%;
        transition: all 0.5s;
    }

    .show {
        left: 0 !important;
        transition: all 0.5s;
    }

    #wallet-applet ul {
        margin-top: 10px !important;
    }

    #wallet-applet #wallet {
        position: absolute;
        right: -30px;
        width: 30px;
        height: 30px;
        top: 0;
        background: white;
        color: #14151b;
    }

    #wallet-applet ul li {
        display: block;
        border-right: none;
        padding: 3px 7px;
    }

    #wallet-applet .pull-right {
        float: none;
    }

    #wallet-applet button.refresh {
        position: absolute;
        top: 5px;
        right: 15px;
    }

    #wallet-applet p.pull-right {
        padding: 0 7px
    }

    .main_navbar {
        position: fixed;
        transition: all 0.5s;
        top: 0;
        width: 70%;
        z-index: 99;
        height: 100%;
        left: -100%;
        /*background: rgba(0, 0, 0, 0.5);*/
    }

    .main_navbar .menu {
        width: 100%;
        position: unset;
    }

    .main_header form {
        width: 90px;
        float: left;
    }

    .main_header button.mobile-menu {
        margin-top: 20px;
        width: 35px;
        height: 35px;
        background: white;
        z-index: 99;
        float: right;
    }

    .gallery {
        min-height: 500px;
        overflow: hidden;
    }

    .gallery .pics {
        width: 46%;
        float: left;
        margin: 2%;
    }
}
